body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    text-align: center;
    margin-top: 50px;
}

h1, h2 {
    color: #d63384;
}

button, a {
    background-color: #ff80b3;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px;
}
